
body{
    background-image: url('download (2).jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%100%;
           
}

.form-center{
   display:flex;
   justify-content:center;
   width:100%;
   height:0%;
    
}
.form-center img{
    width: 90%;
    height: 40%;
    align-content: center;
}
.searching input[type=search]{
    
    border: 2px solid gray;
    border-start-start-radius: 10%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    padding:20px;
    margin:0px;
    width: 85%;
     
}
.searching button[type=submit]{
    background-color:gray;
    border:2px solid gray;
    border-end-end-radius: 10%;
    padding:20px;
    margin:0px;
    width:10%;

}
.searching button:hover{
    background:ghostwhite;
}

.searching img{
    float:left;
    width: 8%;
    height:8%;
    margin:10%;
    border:100%;
}

